<html ng-app>
  <head>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Weight (kg)', 'Body Fat %'],
          {% for point in points %}
            [ new Date( {{ point.time | date:'Y'}}
                     , {{ point.time | date:'m' | add:"-1" }}
                     , {{point.time | date:'d'}})
            , {{ point.kg }}
            , {{ point.body_fat }}
            ],
          {% endfor %}
        ]);

        var options = {
          title: 'Datapoints',
          curveType: 'function',
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
          vAxes: {
            0: {title: 'Weight (kg)'},
            1: {title: 'Body fat %'}
          },
          trendlines: {
            0: { type: 'polynomial', degree: 3},
            1: { type: 'polynomial', degree: 3}
          },
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1>Weight and body fat data</h1>

    {% verbatim %}
    <h2>AngularJS says 2 + 2 = {{ 2 + 2 }}</h2>
    {% endverbatim %}

    <div id="curve_chart" style="width: 900px; height: 500px"></div>

    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
    </script>
  </body>
</html>
